/* Estilo general */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Encabezado */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  text-align: center;
}

header a {
  color: #fff;
  text-decoration: none;
}

/* Barra de navegación */

nav {
  background-color: #eee;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Sección principal */

main {
  padding: 20px;
}

/* Tarjeta de proyecto */

.project-card {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.project-card h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.project-card p {
  margin: 0;
  font-size: 1.2em;
}

.project-card a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  color: #333;
  text-decoration: underline;
}

/* Pie de página */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}
